@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.progressiveBarContainer,
.progressiveBarContainer * {
    height: 8px !important;
}

.progressiveBarContainer>div>div {
    background: #004080CC !important;
}

.vertical-mode {
    /* writing-mode: vertical-rl; */
    width: min-content;
    transform: rotate(270deg);

}